.spinner {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: #121212;
    animation: slide 2s infinite;
}

@keyframes slide{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}